[Unit]
Description=daphne daemon for P2P Project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project1/backend_server
ExecStart=/home/ubuntu/project1/venv/bin/daphne -b 0.0.0.0 -p 8000 p2p_project.asgi:application
Restart=always

[Install]
WantedBy=multi-user.target
